@charset "UTF-8";

* {
	magin: 0 auto;
	padding: 0;
}

body {
	position: relative;
	height: 2000px;
}

a{
	text-decoration: none;
}

#join_wrap {
	position: absolute;
	width: 90%;
	height: 100%;
	left: 25%;
}

.join_logo{
	margin-top: 100px; 
	margin-left: 210px;
	width: 400px;
	height: 100px;
}

.join_logo img{
	width: 300px;
}

.join_content{
	position: relative;
	border: 1px solid #ccc;
	border-radius: 15px;
	width: 700px;
	height: 800px;
}

.join_div{
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 50px;
	width: 600px;
	height: 180px;
	display: block;
}

.join_div input{
	margin-left: 50px;
	width: 500px;
	height: 60px;
	font-size: 1.3em;
	border: none;
	outline: none;
}

.private_div input{
	margin-left: 50px;
	width: 500px;
	height: 60px;
	font-size: 1.3em;
	border: none;
	outline: none;
}

.gender_button{
	width: 400px;
	height: 60px;
	margin-left: 50px;
}

.gender_button .joinGender{
	margin: 0;
	width: 30px;
	margin-right: 10px;
}

.gender_button .joinGenderSpan{
	width: 30px;
	height: 60px;
	margin-left: 10px;
}

.joinId .joinEmail{
	width: 450px;
}

.private_div{
	border: 1px solid #ccc;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 50px;
	width: 600px;
	height: 300px;
	display: block;
}

.join_button{
	margin-top: 50px;
	margin-left: 50px;
	width: 600px;
	height: 60px;
	border: none;
	border-radius: 13px;
	background-color: skyblue;
	font-size: 1.3em;
	font-weight: bold;
	color: white;
}




