@charset "UTF-8";

aside{
    width: 30%;
    height: 500px;
    float: left;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

.aside_function{
    display: grid;
    margin: 0 auto;
    margin-top: 50px;
    width: 60%;
}
.room_function{
	margin-top:30px;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    background:skyblue;
    font-size: 20px;
    padding: 10px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    border-radius: 10px;
}

.room_out{
	margin-top:35px;
    border: none;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    background:#1ab8be;
    font-size: 20px;
    padding: 10px 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    border-radius: 10px;
}